<section>
<grid>
	<div col="1/2">
		<card>
			<h5>Bairro</h5>
			<hr>
			<p>Cadastre os Bairros</p>
                <a btn href="/cadastrar/bairro">Cadastrar Bairro</a>
		</card>
	</div>
	
	<div col="1/2">
		<card>
			<h5>Cadastrar Casos</h5>
			<hr>
			<p>Aqui você pode registrar os numeros de casos do Zika vírus por Bairro</p>
            <a btn href="/cadastrar/casos">Cadastrar Casos</a>
		</card>
	</div>

    <div col="1/2">
		<card>
			<h5>Listar Casos</h5>
			<hr>
			<p>Veja os relatoros</p>
            <a btn href="/listar/casos">Exibir Dados</a>
		</card>
	</div>
</grid>
</section>


{{!-- <div id="inserirCasos">
    <form>
        <input type="number" name="numeroCasos" placeholder="Insira o número de casos"/>
        <input type="submit" value="Inserir">
    </form>
</div>

<div id="exibirDados">
    <form>
        <input type="number" name="numeroCasos" placeholder="Insira o número de casos"/>
        <input type="submit" value="Inserir">
    </form>
</div> --}}

