<section>
    <div id="inserirBairro">
        <form method="POST">
            <input type="text" name="nomeBairro" placeholder="Insira o nome do bairro:" />
            <input type="submit" value="Inserir" />
        </form>
    </div>
</section>